/* CSS USED TO STYLE BOXES IN THE COMPARISONS.HTML FILE */

body{
    background: white;
}

table{
    background: lightgray;
    display: inline-block;
}

/* WE CAN NOW SPECIFY DIMENSIONS FOR A BOX */
/* BOXES ARE ATTACHED TO CLASSES */

/* USE THE @media HANDLE TO IMPLEMENT A MEDIA QUERY*/
/* allows you to specify different media elements depending on screen size */
@media (max-width: 600px)
{
    table{
        display:-moz-inline-stack;
    }
}